<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/cctrbic/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="cctrbic" />
            <add key="ClearTextPassword" value="4b85f4387e093505443b7660445dfec3c54c1928" />
        </github>
    </packageSourceCredentials>
</configuration>