<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/cctrbic/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="cctrbic" />
			<add key="ClearTextPassword" value="b8999e222af997614bf60ba6ce5304eaaf6101f3" />
		</github>
	</packageSourceCredentials>
</configuration>