<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/cctrbic/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="cctrbic" />
            <add key="ClearTextPassword" value="d361ac972abe412e3dc4d9c796050492a0e51b15" />
        </github>
    </packageSourceCredentials>
</configuration>